/*---------------------------------------------start---------------------------------------------*/
.start .header .navbar .navbar-header {
  text-align: center;
  display: block;
  float: none;
}
.start .header .navbar .navbar-header .navbar-brand {
  float: none;
}
.start .header .navbar .navbar-nav > li {
  background: transparent;
}
.start .header .navbar .navbar-nav > li .search {
  border-left: 1px solid #fff;
}
.start .header .navbar .navbar-nav > li > a {
  padding: 0 8px;
}
/*-----------------------------------------portfolio-----------------------------------------*/
.portfolio .tabWrap .nav-tabs li {
  float: left;
  padding-top: 0;
}
.portfolio .tabWrap .nav-tabs li a {
  font: 13px/24px 'Hind-Semibold';
}
/*-----------------------------------------ourSkills-----------------------------------------*/
.ourSkills .achievements {
  min-height: 235px;
}
/*-----------------------------------------customers-----------------------------------------*/
.customers .customers-wrapper .customers-content p {
  font: 22px/42px 'Hind-Regular';
}
/*-----------------------------------------map-----------------------------------------*/
.map .history {
  width: 370px;
}
