/*---------------------------------------------start---------------------------------------------*/
.start {
  padding-top: 34px;
}
.start .header .navbar .navbar-header {
  text-align: center;
  display: block;
  float: left;
}
.start .header .navbar .navbar-header .navbar-brand {
  float: left;
}
.start .header .navbar .navbar-nav {
  float: right;
}
.start .header .navbar .navbar-nav > li {
  background: transparent;
}
.start .header .navbar .navbar-nav > li > a {
  padding: 0 8px;
}
.start .greeting-wrapper .greeting .welcome {
  margin: 0 0 30px 0;
}
.start .greeting-wrapper .greeting .tagline {
  margin-bottom: 30px;
}
.start .greeting-wrapper .greeting p {
  font: 18px/24px 'Hind-Regular';
  letter-spacing: 2px;
  margin-bottom: 30px;
}
/*-----------------------------------------ourTeam-----------------------------------------*/
.ourTeam {
  background: #f0fafe;
  max-width: 1600px;
}
.ourTeam .sub-container ul li .info .about p {
  font: 14px/20px 'Hind-Regular';
  padding: 10px;
}
/*-----------------------------------------ourSkills-----------------------------------------*/
.ourSkills .achievements {
  min-height: 235px;
}
.ourSkills .achievements .centering .centered ul li .description {
  font: 11px/36px 'Hind-Semibold';
}
/*-----------------------------------------footer-----------------------------------------*/
.footer .footer-content .copy {
  float: left;
}
.footer .footer-content .footer-menu {
  float: right;
}
