.container {
  width: 1600px;
}
.start .header {
  max-width: 1440px;
  margin: auto;
}
.start .header .navbar .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.start .header .navbar .container-fluid .navbar-nav > li > a {
  padding: 0 18px;
  margin-top: 16px;
}
.start .greeting-wrapper .greeting {
  max-width: 940px;
}
.start .greeting-wrapper .greeting p {
  letter-spacing: 1px;
}
/*-----------------------------------------capabilities-----------------------------------------*/
