.start .header .navbar .navbar-nav > li > a {
  padding: 0 15px;
}
/*-----------------------------------------ourTeam-----------------------------------------*/
.ourTeam {
  background: #f0fafe;
  max-width: 1600px;
}
.ourTeam .sub-container ul li .info .about p {
  font: 16px/24px 'Hind-Regular';
  padding: 20px;
}
