/*.font-face(@fontname, @fontstyle, @path) {
  @font-face {
    font-family: '@{fontname}';
    font-weight: @fontstyle;
    font-style: @fontstyle;
    src:url('@{path}.eot');
    src:url('@{path}.eot?#iefix') format('embedded-opentype'),
        url('@{path}.woff') format('woff'),
        url('@{path}.ttf') format('truetype'),
        url('@{path}.svg#icon') format('svg');
  }
}*/
@font-face {
  font-family: 'Hind-Bold';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/font_hind/Hind-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Hind-Light';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/font_hind/Hind-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Hind-Medium';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/font_hind/Hind-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Hind-Regular';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/font_hind/Hind-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Hind-Semibold';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/font_hind/Hind-Semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lora-Bold';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/font_hind/Lora-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lora-BoldItalic';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/font_hind/Lora-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Lora-Italic';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/font_hind/Lora-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Lora-Regular';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/font_hind/Lora-Regular.ttf') format('truetype');
}
/*---------------------------------------------all---------------------------------------------*/
.img-resp {
  width: 100%;
  min-height: auto;
}
.sub-container {
  max-width: 1230px;
  margin: auto;
}
/*---------------------------------------------start---------------------------------------------*/
.start,
.getStarted {
  position: relative;
  max-height: 800px;
  height: 100vh;
  width: 100vw;
}
.start .header,
.getStarted .header {
  position: relative;
  z-index: 5;
}
.start .header .navbar,
.getStarted .header .navbar {
  background: transparent;
  border: none;
}
.start .header .navbar .navbar-header .navbar-brand,
.getStarted .header .navbar .navbar-header .navbar-brand {
  background: url('../img/logoImg.png') left center no-repeat;
  padding: 0 0 0 42px;
  color: #fff;
  font: 30px/50px 'Hind-Regular';
}
.start .header .navbar .navbar-header .navbar-brand .bold,
.getStarted .header .navbar .navbar-header .navbar-brand .bold {
  font: 30px/50px 'Hind-Semibold';
}
.start .header .navbar .navbar-header .navbar-toggle,
.getStarted .header .navbar .navbar-header .navbar-toggle,
.start .header .navbar .navbar-header .navbar-toggle:hover,
.getStarted .header .navbar .navbar-header .navbar-toggle:hover,
.start .header .navbar .navbar-header .navbar-toggle:focus,
.getStarted .header .navbar .navbar-header .navbar-toggle:focus {
  border: 1px solid #fff;
  background: transparent;
}
.start .header .navbar .navbar-header .navbar-toggle .icon-bar,
.getStarted .header .navbar .navbar-header .navbar-toggle .icon-bar,
.start .header .navbar .navbar-header .navbar-toggle:hover .icon-bar,
.getStarted .header .navbar .navbar-header .navbar-toggle:hover .icon-bar,
.start .header .navbar .navbar-header .navbar-toggle:focus .icon-bar,
.getStarted .header .navbar .navbar-header .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}
.start .header .navbar .navbar-nav > li,
.getStarted .header .navbar .navbar-nav > li {
  background: rgba(0, 0, 0, 0.9);
}
.start .header .navbar .navbar-nav > li .search,
.getStarted .header .navbar .navbar-nav > li .search,
.start .header .navbar .navbar-nav > li .search:hover,
.getStarted .header .navbar .navbar-nav > li .search:hover {
  background: url('../img/search-ico.png') right center no-repeat;
  color: transparent;
  padding-left: 10px;
  width: 50px;
}
.start .header .navbar .navbar-nav > li > a,
.getStarted .header .navbar .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font: 13px/24px 'Hind-Semibold';
  letter-spacing: 1px;
}
.start .header .navbar .navbar-nav > li > a:hover,
.getStarted .header .navbar .navbar-nav > li > a:hover {
  color: #ff9800;
}
.start .header .navbar .navbar-nav > .active > a,
.getStarted .header .navbar .navbar-nav > .active > a {
  background: transparent;
  border-bottom: 2px solid #03a9f4;
}
.start .greeting-wrapper,
.getStarted .greeting-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 4;
  color: #fff;
}
.start .greeting-wrapper .greeting,
.getStarted .greeting-wrapper .greeting {
  display: inline-block;
  vertical-align: middle;
  max-width: 95%;
}
.start .greeting-wrapper .greeting .welcome,
.getStarted .greeting-wrapper .greeting .welcome {
  font: 24px/24px 'Hind-Regular';
  text-transform: uppercase;
  letter-spacing: 2px;
}
.start .greeting-wrapper .greeting .welcome .bold,
.getStarted .greeting-wrapper .greeting .welcome .bold {
  font: 24px/24px 'Hind-Semibold';
}
.start .greeting-wrapper .greeting .tagline,
.getStarted .greeting-wrapper .greeting .tagline {
  font: 42px/42px 'Hind-Semibold';
  letter-spacing: 2px;
  text-transform: uppercase;
}
.start .greeting-wrapper .greeting p,
.getStarted .greeting-wrapper .greeting p {
  font: 18px/24px 'Hind-Regular';
  letter-spacing: 2px;
}
.start .greeting-wrapper .greeting .btn-info,
.getStarted .greeting-wrapper .greeting .btn-info {
  background: #03a9f4;
  font: 13px/48px 'Hind-Semibold';
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0 33px;
  vertical-align: middle;
}
.start .greeting-wrapper::before,
.getStarted .greeting-wrapper::before {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle;
}
.start .carousel,
.getStarted .carousel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.start .carousel .carousel-indicators li,
.getStarted .carousel .carousel-indicators li {
  width: 9px;
  height: 9px;
  -webkit-border-radius: 1px;
          border-radius: 1px;
  margin: 0 5px;
  background: #b6b6b6;
  border-color: #b6b6b6;
}
.start .carousel .carousel-indicators li:nth-child(odd),
.getStarted .carousel .carousel-indicators li:nth-child(odd) {
  background: #ff9800;
  border-color: #ff9800;
}
.start .carousel .carousel-indicators li.active,
.getStarted .carousel .carousel-indicators li.active {
  background: #03a9f4;
  border-color: #03a9f4;
}
.start .carousel .carousel-inner .item .bg-slide,
.getStarted .carousel .carousel-inner .item .bg-slide {
  height: 100vh;
  max-height: 800px;
}
.start .carousel .carousel-inner .item .slide1,
.getStarted .carousel .carousel-inner .item .slide1 {
  background: url('../img/slide1.jpg') left top / cover no-repeat;
}
.start .carousel .carousel-inner .item .slide2,
.getStarted .carousel .carousel-inner .item .slide2 {
  background: url('../img/slide2.jpg') left top / cover no-repeat;
}
.start .carousel .carousel-inner .item .slide3,
.getStarted .carousel .carousel-inner .item .slide3 {
  background: url('../img/slide3.jpg') center top / cover no-repeat;
}
.start .carousel .carousel-inner .item .slide4,
.getStarted .carousel .carousel-inner .item .slide4 {
  background: url('../img/slide4.jpg') center top / cover no-repeat;
}
.start .carousel .carousel-inner .item::after,
.getStarted .carousel .carousel-inner .item::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(33, 33, 33, 0.6);
  z-index: 100;
}
/*-----------------------------------------capabilities-----------------------------------------*/
.capabilities {
  padding: 0;
}
.capabilities ul {
  margin-left: 0;
}
.capabilities ul li {
  text-align: center;
  padding: 40px 15px 15px 15px;
  background: #f0fafe;
}
.capabilities ul li .ico {
  width: 70px;
  height: 70px;
  background: #03a9f4;
  color: #fff;
  font-size: 30px;
  line-height: 70px;
  text-align: center;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.capabilities ul li h2 {
  font: 18px/46px 'Hind-Semibold';
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 23px;
  margin-bottom: 14px;
}
.capabilities ul li p {
  font: 16px/30px 'Hind-Regular';
  color: #727272;
  margin-bottom: 28px;
}
.capabilities ul li a {
  font: 13px/30px 'Hind-Semibold';
  text-transform: uppercase;
  color: #03a9f4;
  letter-spacing: 2px;
}
.capabilities ul li a span {
  font-size: 13px;
}
.capabilities ul li a:hover {
  color: #ff9800;
  text-decoration: none;
}
.capabilities ul li:nth-child(even) {
  background: #f7fcff;
}
/*-----------------------------------------portfolio-----------------------------------------*/
.portfolio {
  text-align: center;
  padding-top: 58px;
  padding-bottom: 64px;
  padding-left: 0;
  padding-right: 0;
}
.portfolio .tabWrap h2 {
  font: 36px/36px 'Hind-Semibold';
  text-transform: uppercase;
  padding-bottom: 15px;
  letter-spacing: 4px;
}
.portfolio .tabWrap p {
  font: 16px/30px 'Hind-Regular';
  max-width: 770px;
  margin: auto;
  color: #9f9f9f;
  margin-bottom: 33px;
  letter-spacing: 1px;
}
.portfolio .tabWrap .nav-tabs {
  display: inline-block;
  border: none;
  margin-bottom: 35px;
}
.portfolio .tabWrap .nav-tabs li {
  float: none;
  padding-top: 20px;
}
.portfolio .tabWrap .nav-tabs li a {
  font: 24px/36px 'Hind-Semibold';
  color: #03a9f4;
  text-transform: uppercase;
  border: none;
  padding: 0 18px;
  letter-spacing: 1px;
}
.portfolio .tabWrap .nav-tabs li a:hover {
  color: #ff9800;
  background: transparent;
}
.portfolio .tabWrap .nav-tabs li a:hover,
.portfolio .tabWrap .nav-tabs li a:focus {
  border: none;
}
.portfolio .tabWrap .nav-tabs li.active {
  border-bottom: 2px solid #03a9f4;
}
.portfolio .tabWrap .nav-tabs li.active a {
  color: #212121;
}
.portfolio .tabWrap .nav-tabs .nav-tabs > li.active > a,
.portfolio .tabWrap .nav-tabs .nav-tabs > li.active > a:hover,
.portfolio .tabWrap .nav-tabs .nav-tabs > li.active > a:focus {
  border: none;
}
.portfolio .tabWrap .tab-content .tab-pane {
  padding: 0;
}
.portfolio .tabWrap .tab-content .tab-pane .pf-item {
  padding: 0;
  position: relative;
}
.portfolio .tabWrap .tab-content .tab-pane .pf-item .linkBox {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: opacity ease 1s;
  transition: opacity ease 1s;
  background: rgba(33, 33, 33, 0.6);
}
.portfolio .tabWrap .tab-content .tab-pane .pf-item .linkBox li {
  position: relative;
  top: -webkit-calc(50% - 25.5px);
  top: calc(50% - 25.5px);
  width: 55px;
  height: 55px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #03a9f4;
  margin: 0 10px;
  line-height: 55px;
  font-size: 20px;
}
.portfolio .tabWrap .tab-content .tab-pane .pf-item .linkBox li a {
  color: #fff;
  text-decoration: none;
}
.portfolio .tabWrap .tab-content .tab-pane .pf-item .linkBox li:nth-child(even) {
  background: #ff9800;
}
.portfolio .tabWrap .tab-content .tab-pane .pf-item .linkBox:hover {
  opacity: 1;
}
.portfolio .tabWrap .tab-content .tab-pane .pf-group::after {
  display: block;
  content: "";
  clear: both;
}
.portfolio .tabWrap::after {
  display: block;
  content: "";
  clear: both;
}
.portfolio .more {
  padding-top: 35px;
}
.portfolio .more a {
  font: 13px/30px 'Hind-Semibold';
  color: #03a9f4;
  text-transform: uppercase;
  text-decoration: none;
}
.portfolio .more a span {
  font-size: 13px;
}
.portfolio .more a:hover {
  color: #ff9800;
  text-decoration: none;
}
/*-----------------------------------------getStarted-----------------------------------------*/
.getStarted {
  height: 400px;
  margin-bottom: 60px;
}
.getStarted .greeting-wrapper {
  min-height: 400px;
  background: url('../img/getStartedBg.jpg') center center no-repeat;
}
.getStarted .greeting-wrapper .greeting {
  max-width: 930px;
  width: 95%;
}
.getStarted .greeting-wrapper .greeting p {
  font: 22px/42px 'Hind-Regular';
  margin-bottom: 30px;
}
.getStarted .greeting-wrapper::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(33, 33, 33, 0.6);
  z-index: -1;
}
/*-----------------------------------------latestNews-----------------------------------------*/
.latestNews,
.ourTeam,
.ourSkills {
  text-align: center;
  padding-bottom: 80px;
}
.latestNews h2,
.ourTeam h2,
.ourSkills h2 {
  font: 36px/36px 'Hind-Semibold';
  text-transform: uppercase;
  padding-bottom: 15px;
  letter-spacing: 4px;
}
.latestNews p,
.ourTeam p,
.ourSkills p {
  font: 16px/30px 'Hind-Regular';
  max-width: 770px;
  margin: auto;
  color: #9f9f9f;
  margin-bottom: 33px;
  letter-spacing: 1px;
}
.latestNews ul li img,
.ourTeam ul li img,
.ourSkills ul li img {
  margin-bottom: 40px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.latestNews ul li .date,
.ourTeam ul li .date,
.ourSkills ul li .date {
  font: 14px/14px 'Hind-Regular';
}
.latestNews ul li a,
.ourTeam ul li a,
.ourSkills ul li a {
  font: 18px/36px 'Hind-Semibold';
  color: #03a9f4;
  text-decoration: none;
  text-transform: uppercase;
}
.latestNews ul li a:hover,
.ourTeam ul li a:hover,
.ourSkills ul li a:hover {
  color: #ff9800;
}
/*-----------------------------------------ourTeam-----------------------------------------*/
.ourTeam {
  background: #f0fafe;
  max-width: 1600px;
}
.ourTeam .sub-container {
  max-width: 1230px;
  margin: auto;
  padding-top: 60px;
}
.ourTeam .sub-container ul li {
  padding-left: 15px;
  padding-right: 15px;
}
.ourTeam .sub-container ul li .info {
  position: relative;
}
.ourTeam .sub-container ul li .info .about {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: opacity ease 1s;
  transition: opacity ease 1s;
  background: rgba(33, 33, 33, 0.6);
}
.ourTeam .sub-container ul li .info .about p {
  font: 16px/24px 'Hind-Regular';
  color: #fff;
  padding: 30px;
}
.ourTeam .sub-container ul li .info .about p .name {
  font: 16px/24px 'Hind-Semibold';
  color: #b3e5fc;
}
.ourTeam .sub-container ul li .info .about .social li {
  padding: 0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #03a9f4;
}
.ourTeam .sub-container ul li .info .about .social li a {
  display: block;
  color: #fff;
  text-decoration: none;
}
.ourTeam .sub-container ul li .info .about .social li .ico {
  width: 25px;
  height: 25px;
  background: url('../img/spritesheet.png') no-repeat;
}
.ourTeam .sub-container ul li .info .about .social li .ico1 {
  background-position: -5px -5px;
}
.ourTeam .sub-container ul li .info .about .social li .ico2 {
  background-position: -40px -5px;
}
.ourTeam .sub-container ul li .info .about .social li .ico3 {
  background-position: -5px -40px;
}
.ourTeam .sub-container ul li .info .about .social li .ico4 {
  background-position: -40px -40px;
}
.ourTeam .sub-container ul li .info .about .social li .ico5 {
  background-position: -75px -5px;
}
.ourTeam .sub-container ul li .info .about .social li .ico6 {
  background-position: -75px -40px;
}
.ourTeam .sub-container ul li .info .about .social li:hover {
  background: #ff9800;
}
.ourTeam .sub-container ul li .info .about:hover {
  opacity: 1;
}
.ourTeam .sub-container ul li .info img {
  margin-bottom: 0;
}
.ourTeam .sub-container ul li .name {
  font: 18px/36px 'Hind-Semibold';
  padding: 35px 0 0 0;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/*-----------------------------------------ourSkills-----------------------------------------*/
.ourSkills {
  padding: 58px 0 0 0;
}
.ourSkills p {
  font: 16px/30px 'Hind-Regular';
  color: #727272;
}
.ourSkills .skills {
  margin-bottom: 13px;
}
.ourSkills .skills li {
  padding-left: 15px;
  padding-right: 15px;
}
.ourSkills .skills li p {
  text-align: justify;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 10px;
  font: 18px/36px 'Hind-Semibold';
}
.ourSkills .skills li .persent {
  text-align: right;
  margin: -46px 0 0 0;
}
.ourSkills .skills li .scale {
  height: 25px;
  background: #b3e5fc;
  margin-bottom: 32px;
}
.ourSkills .skills li .scale .level {
  width: 95%;
  height: 25px;
  background: #03a9f4;
}
.ourSkills .skills::after,
.ourSkills .achievements::after,
.ourSkills .sub-container::after,
.ourSkills .centering::after {
  display: block;
  content: "";
  clear: both;
}
.ourSkills .achievements {
  background: #ff9800;
  min-height: 330px;
  position: relative;
}
.ourSkills .achievements .centering {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.ourSkills .achievements .centering .centered {
  display: inline-block;
  vertical-align: middle;
  max-width: 95%;
}
.ourSkills .achievements .centering .centered ul {
  margin: 0;
}
.ourSkills .achievements .centering .centered ul li .achievements-ico {
  width: 70px;
  height: 70px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #fff;
  color: #ff9800;
  margin: 0;
}
.ourSkills .achievements .centering .centered ul li .quantity {
  font: 36px/36px 'Hind-Semibold';
  color: #fff;
  margin-bottom: 5px;
}
.ourSkills .achievements .centering .centered ul li .description {
  font: 13px/36px 'Hind-Semibold';
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}
.ourSkills .achievements .centering .centered ul::after {
  display: block;
  content: "";
  clear: both;
}
.ourSkills .achievements .centering::before {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  /*---------------------------------------------start---------------------------------------------*/
  .start .header .navbar .navbar-header {
    text-align: center;
    display: block;
    float: none;
  }
  .start .header .navbar .navbar-header .navbar-brand {
    float: none;
  }
  .start .header .navbar .navbar-nav > li {
    background: transparent;
  }
  .start .header .navbar .navbar-nav > li .search {
    border-left: 1px solid #fff;
  }
  .start .header .navbar .navbar-nav > li > a {
    padding: 0 8px;
  }
  /*-----------------------------------------portfolio-----------------------------------------*/
  .portfolio .tabWrap .nav-tabs li {
    float: left;
    padding-top: 0;
  }
  .portfolio .tabWrap .nav-tabs li a {
    font: 13px/24px 'Hind-Semibold';
  }
  /*-----------------------------------------ourSkills-----------------------------------------*/
  .ourSkills .achievements {
    min-height: 235px;
  }
}
@media screen and (min-width: 992px) {
  /*---------------------------------------------start---------------------------------------------*/
  .start {
    padding-top: 34px;
  }
  .start .header .navbar .navbar-header {
    text-align: center;
    display: block;
    float: left;
  }
  .start .header .navbar .navbar-header .navbar-brand {
    float: left;
  }
  .start .header .navbar .navbar-nav {
    float: right;
  }
  .start .header .navbar .navbar-nav > li {
    background: transparent;
  }
  .start .header .navbar .navbar-nav > li > a {
    padding: 0 8px;
  }
  .start .greeting-wrapper .greeting .welcome {
    margin: 0 0 30px 0;
  }
  .start .greeting-wrapper .greeting .tagline {
    margin-bottom: 30px;
  }
  .start .greeting-wrapper .greeting p {
    font: 18px/24px 'Hind-Regular';
    letter-spacing: 2px;
    margin-bottom: 30px;
  }
  /*-----------------------------------------ourTeam-----------------------------------------*/
  .ourTeam {
    background: #f0fafe;
    max-width: 1600px;
  }
  .ourTeam .sub-container ul li .info .about p {
    font: 14px/20px 'Hind-Regular';
    padding: 10px;
  }
  /*-----------------------------------------ourSkills-----------------------------------------*/
  .ourSkills .achievements {
    min-height: 235px;
  }
  .ourSkills .achievements .centering .centered ul li .description {
    font: 11px/36px 'Hind-Semibold';
  }
}
@media screen and (min-width: 1170px) {
  .start .header .navbar .navbar-nav > li > a {
    padding: 0 15px;
  }
  /*-----------------------------------------ourTeam-----------------------------------------*/
  .ourTeam {
    background: #f0fafe;
    max-width: 1600px;
  }
  .ourTeam .sub-container ul li .info .about p {
    font: 16px/24px 'Hind-Regular';
    padding: 20px;
  }
  /*-----------------------------------------ourSkills-----------------------------------------*/
  .ourSkills .achievements {
    min-height: 235px;
  }
  .ourSkills .achievements .centering .centered ul li .description {
    font: 13px/36px 'Hind-Semibold';
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 1600px;
  }
  .start .header {
    max-width: 1440px;
    margin: auto;
  }
  .start .header .navbar .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .start .header .navbar .container-fluid .navbar-nav > li > a {
    padding: 0 18px;
    margin-top: 16px;
  }
  .start .greeting-wrapper .greeting {
    max-width: 940px;
  }
  .start .greeting-wrapper .greeting p {
    letter-spacing: 1px;
  }
  /*-----------------------------------------ourTeam-----------------------------------------*/
  .ourTeam {
    background: #f0fafe;
    max-width: 1600px;
  }
  .ourTeam .sub-container ul li .info .about p {
    font: 16px/24px 'Hind-Regular';
    padding: 30px;
  }
}
