.font-face(@fontname, @fontstyle, @path) {
  @font-face {
    font-family: '@{fontname}';
    font-weight: @fontstyle;
    font-style: @fontstyle;
    src:url('@{path}.eot');
    src:url('@{path}.eot?#iefix') format('embedded-opentype'),
        url('@{path}.woff') format('woff'),
        url('@{path}.ttf') format('truetype'),
        url('@{path}.svg#icon') format('svg');
  }
}

/*.font-face(@fontname, @fontstyle, @path) {
  @font-face {
    font-family: '@{fontname}';
    font-weight: @fontstyle;
    font-style: @fontstyle;
    src:url('@{path}.ttf') format('truetype');
  }
}*/

@mainBlue: #03a9f4;
@mainOrange: #ff9800;

.font-face('Hind-Bold', normal, '../fonts/font_hind/Hind-Bold');
.font-face('Hind-Light', normal, '../fonts/font_hind/Hind-Light');
.font-face('Hind-Medium', normal, '../fonts/font_hind/Hind-Medium');
.font-face('Hind-Regular', normal, '../fonts/font_hind/Hind-Regular');
.font-face('Hind-Semibold', normal, '../fonts/font_hind/Hind-Semibold');

.font-face('Lora-Bold', normal, '../fonts/font_lora/Lora-Bold');
.font-face('Lora-BoldItalic', normal, '../fonts/font_lora/Lora-BoldItalic');
.font-face('Lora-Italic', normal, '../fonts/font_lora/Lora-Italic');
.font-face('Lora-Regular', normal, '../fonts/font_lora/Lora-Regular');

.font-face('fontawesome-webfont', normal, '../fonts/fontawesome-webfont/fontawesome-webfont');

/*---------------------------------------------all---------------------------------------------*/
.img-resp {
		width: 100%;
		min-height: auto;
	}
.sub-container {
	max-width: 1230px;
	margin: auto;
}

.social {						
	.social-item {
		padding: 0!important;
		border-radius: 3px;
		background: @mainBlue;
		a {
			display: block;
			color: #fff;
			text-decoration: none;
		}
		.ico {
			width: 25px;
			height: 25px;
			background: url('../img/spritesheet.png') no-repeat;
		}
		.ico1 {
			background-position: -5px -5px;
		}
		.ico2 {
			background-position: -40px -5px;
		}
		.ico3 {
			background-position: -5px -40px;
		}
		.ico4 {
			background-position: -40px -40px;
		}
		.ico5 {
			background-position: -75px -5px;
		}
		.ico6 {
			background-position: -75px -40px;
		}
	}
	.social-item:hover {
		background: @mainOrange;
	}
}

/*---------------------------------------------start---------------------------------------------*/
.start, .getStarted {
	position: relative;
	max-height: 800px;
	height: 100vh;
	width: 100vw;
	.header {
		position: relative;
		z-index: 5;
		.navbar {
			background: transparent;
			border: none;
			.navbar-header {
				.navbar-brand {
					background: url('../img/logoImg.png') left center no-repeat;
					padding: 0 0 0 42px;
					color: #fff;
					font: 30px/50px 'Hind-Regular';
					.bold {
						font: 30px/50px 'Hind-Semibold';
					}
				}
				.navbar-toggle, .navbar-toggle:hover, .navbar-toggle:focus {
					border: 1px solid #fff;
					background: transparent;
					.icon-bar {
						background-color: #fff;
					}
				}
			}
			.navbar-nav > li {
				background: rgba(0, 0, 0, 0.9);
				.search, .search:hover {
					background: url('../img/search-ico.png') right center no-repeat;
					color: transparent;
					padding-left: 10px;
					width: 50px;
				}
			}
			.navbar-nav > li > a {
				color: #fff;
				text-transform: uppercase;
				font: 13px/24px 'Hind-Semibold';
				letter-spacing: 1px;
			}
			.navbar-nav > li > a:hover {
				color: @mainOrange;
			}
			.navbar-nav > .active > a {
				background: transparent;
				border-bottom: 2px solid @mainBlue;
			}
		}

	}
	.greeting-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		text-align: center;
		z-index: 4;
		color: #fff;
		.greeting {
			display: inline-block;
			vertical-align: middle;
			max-width: 95%;
			.welcome {
				font: 24px/24px 'Hind-Regular';
				text-transform: uppercase;
				letter-spacing: 2px;
				.bold {
					font: 24px/24px 'Hind-Semibold';
				}
			}
			.tagline {
				font: 42px/42px 'Hind-Semibold';
				letter-spacing: 2px;
				text-transform: uppercase;
			}
			p {
				font: 18px/24px 'Hind-Regular';
				letter-spacing: 2px;
			}
			.btn-info {
				background: @mainBlue;
				font: 13px/48px 'Hind-Semibold';
				text-transform: uppercase;
				letter-spacing: 2px;
				padding: 0 33px;
				vertical-align: middle;
			}
		}
	}
	.greeting-wrapper::before {
		display: inline-block;
		content: "";
		height: 100%;
		vertical-align: middle;
	}
	.carousel {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		.carousel-indicators {
			li {
				width: 9px;
				height: 9px;
				border-radius: 1px;
				margin: 0 5px;
				background: #b6b6b6;
				border-color: #b6b6b6;
			}
			li:nth-child(odd) {
				background: @mainOrange;
				border-color: @mainOrange;
			}
			li.active {
				background: @mainBlue;
				border-color: @mainBlue;
			}
		}
		.carousel-inner {
			.item {
				.bg-slide {
					height: 100vh;
					max-height: 800px;
				}
				.slide1 {
					background: url('../img/slide1.jpg') left top/cover no-repeat;
				}
				.slide2 {
					background: url('../img/slide2.jpg') left top/cover no-repeat;
				}
				.slide3 {
					background: url('../img/slide3.jpg') center top/cover no-repeat;
				}
				.slide4 {
					background: url('../img/slide4.jpg') center top/cover no-repeat;
				}
			}
			.item::after {
				display: block;
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: rgba(33, 33, 33, 0.6);
				z-index: 100;
			}
		}	
	}
}

/*-----------------------------------------capabilities-----------------------------------------*/

.capabilities {
	padding: 0;
	ul {
		margin-left: 0;
		li {
			text-align: center;
			padding: 40px 15px 15px 15px;
			background: #f0fafe;
			.ico {
				width: 70px;
				height: 70px;
				background: @mainBlue;
				color: #fff;
				font-size: 30px;
				line-height: 70px;
				text-align: center;
				border-radius: 3px;
			}
			h2 {
				font: 18px/46px 'Hind-Semibold';
				text-transform: uppercase;
				letter-spacing: 2px;
			    margin-top: 23px;
			    margin-bottom: 14px;
			}
			p {
				font: 16px/30px 'Hind-Regular';
				color: #727272;
				margin-bottom: 28px;
			}
			a {
				font: 13px/30px 'Hind-Semibold';
				text-transform: uppercase;
				color: @mainBlue;
				letter-spacing: 2px;
				span {
					font-size: 13px;
				}
			}
			a:hover {
				color: @mainOrange;
				text-decoration: none;
			}
		}
		li:nth-child(even) {
			background: #f7fcff;
		}
	}
}

/*-----------------------------------------portfolio-----------------------------------------*/
.portfolio {
	text-align: center;
	padding-top: 58px;
	padding-bottom: 64px;
	padding-left: 0;
	padding-right: 0;
	.tabWrap {
		h2 {
			font: 36px/36px 'Hind-Semibold';
			text-transform: uppercase;
			padding-bottom: 15px;
			letter-spacing: 4px;
		}
		p {
			font: 16px/30px 'Hind-Regular';
			max-width: 770px;
			margin: auto;
			color: #9f9f9f;
			margin-bottom: 33px;
			letter-spacing: 1px;
		}
		.nav-tabs {
			display: inline-block;
			border: none;
			margin-bottom: 35px;
			li {
				float: none;
				padding-top: 20px;
				a {
					font: 24px/36px 'Hind-Semibold';
					color: @mainBlue;
					text-transform: uppercase;
					border: none;
					padding: 0 18px;
					letter-spacing: 1px;
				}
				a:hover {
					color: @mainOrange;
					background: transparent;
				}
				a:hover, a:focus {
					border: none;
				}
			}
			li.active {
				border-bottom: 2px solid @mainBlue;
				a {
					color: #212121;
				}
			}
			.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
				border: none;
			}
		}
		.tab-content {
			.tab-pane {
				padding: 0;
				.pf-item {
					padding: 0;
					position: relative;
					.linkBox {
						margin: 0;
						padding: 0;
						position: absolute;
						top: 0;
						right: 0;
						left : 0;
						bottom: 0;
						opacity: 0;
						transition: opacity ease 1s;
						background: rgba(33, 33, 33, 0.6);
						li {
							position: relative;
							top: ~'calc(50% - 25.5px)';
							width: 55px;
							height: 55px;
							border-radius: 3px;
							background: @mainBlue;
							margin: 0 10px;
							line-height: 55px;
							font-size: 20px;
							a {
								color: #fff;
								text-decoration: none;
							}
						}
						li:nth-child(even) {
							background: @mainOrange;
						}
					}
					.linkBox:hover {
						opacity: 1;
					}
				}
				.pf-group::after {
					display: block;
					content: "";
					clear: both;
				}
			}
		}
	}
	.tabWrap::after {
		display: block;
		content: "";
		clear: both;
	}
	.more {
		padding-top: 35px;
		a {
			font: 13px/30px 'Hind-Semibold';
			color: @mainBlue;
			text-transform: uppercase;
			text-decoration: none;
			span {
				font-size: 13px;
			}
		}
		a:hover {
			color: @mainOrange;
			text-decoration: none;
		}
	}
}

/*-----------------------------------------getStarted-----------------------------------------*/
.getStarted {
	height: 400px;
	margin-bottom: 60px;
	.greeting-wrapper {
		min-height: 400px;
		background: url('../img/getStartedBg.jpg') center center no-repeat;
		.greeting {
			max-width: 930px;
			width: 95%;
			p {
				font: 22px/42px 'Hind-Regular';
				margin-bottom: 30px;
			}
		}
	}
	.greeting-wrapper::after {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(33, 33, 33, 0.6);
		z-index: -1;
	}
}
/*-----------------------------------------latestNews-----------------------------------------*/
.latestNews, .ourTeam, .ourSkills, .reviews {
	text-align: center;
	padding-bottom: 80px;
	h2 {
		font: 36px/36px 'Hind-Semibold';
		text-transform: uppercase;
		padding-bottom: 15px;
		letter-spacing: 4px;
		}
	p {
		font: 16px/30px 'Hind-Regular';
		max-width: 770px;
		margin: auto;
		color: #9f9f9f;
		margin-bottom: 33px;
		letter-spacing: 1px;
	}
	ul {		
		li {
			img {
				margin-bottom: 40px;
				border-radius: 3px;
			}
			.date {
				font: 14px/14px 'Hind-Regular';
			}
			a {
				font: 18px/36px 'Hind-Semibold';
				color: @mainBlue;
				text-decoration: none;
				text-transform: uppercase;
			}
			a:hover {
				color: @mainOrange;
			}
		}
	}
}
/*-----------------------------------------ourTeam-----------------------------------------*/
.ourTeam {
	background: #f0fafe;
	max-width: 1600px;
	.sub-container {
		max-width: 1230px;
		margin: auto;
		padding-top: 60px;
		ul {		
			li {
				padding-left: 15px;
				padding-right: 15px;
				.info {
					position: relative;
					.about {
						margin: 0;
						padding: 0;
						position: absolute;
						top: 0;
						right: 0;
						left : 0;
						bottom: 0;
						opacity: 0;
						transition: opacity ease 1s;
						background: rgba(33, 33, 33, 0.6);
						p{
							font: 16px/24px 'Hind-Regular';
							color: #fff;
							padding: 30px;
							.name {
								font: 16px/24px 'Hind-Semibold';
								color: #b3e5fc;
							}
						}
						
					}
					.about:hover {
							opacity: 1;
						}
					img {
						margin-bottom: 0;
					}
				}
				.name {
					font: 18px/36px 'Hind-Semibold';
					padding: 35px 0 0 0;
					color: #000;
					text-transform: uppercase;
					margin-bottom: 10px;
				}
			}
		}
	}
}
/*-----------------------------------------ourSkills-----------------------------------------*/
.ourSkills {
	padding: 58px 0 60px 0;
	p{
		font: 16px/30px 'Hind-Regular';
		color: #727272;
	}
	.skills {
		margin-bottom: 13px;
		li {
			padding-left: 15px;
			padding-right: 15px;
			p {
				text-align: justify;
				color: #000;
				text-transform: uppercase;
				margin-bottom: 10px;
				font: 18px/36px 'Hind-Semibold';
			}
			.persent {
				text-align: right;
				margin: -46px 0 0 0;
			}
			.scale {
				height: 25px;
				background: #b3e5fc;
				margin-bottom: 32px;
				.level {
					width: 95%;
					height: 25px;
					background: @mainBlue;
				} 
			}
		}
	}
	.skills::after, .achievements::after, .sub-container::after, .centering::after {
		display: block;
		content: "";
		clear: both;
	}
	.achievements {
		background: #ff9800;
		min-height: 330px;
		position: relative;
		.centering {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: center;
			.centered {
				display: inline-block;
				vertical-align: middle;
				max-width: 95%;
				ul {
					margin: 0;
					li {
						i {
							width: 70px;
							height: 70px;
							border-radius: 3px;
							background: #fff;
							color: @mainOrange;
							margin: 0;
							font-size: 35px;
							line-height: 70px;
						}
						.quantity {
							font: 36px/36px 'Hind-Semibold';
							color: #fff;
							margin-bottom: 5px;
						}
						.description {
							font: 13px/36px 'Hind-Semibold';
							color: #fff;
							text-transform: uppercase;
							margin: 0;
						}
					}
				}
				ul::after {
					display: block;
					content: "";
					clear: both;
				}
			}
		}
		.centering::before {
			display: inline-block;
			content: "";
			height: 100%;
			vertical-align: middle;
		}
	}
}
/*-----------------------------------------reviews-----------------------------------------*/
.reviews{
	ul {
		li {
			.cite {
				font: 16px/30px 'Lora-Italic';
				color: #000;
				}
			.row {
				div {
					padding-left: 0;
					padding-right: 0;
					p {
						text-align: left;
						margin-bottom: 0;
					}
					.name {
						font: 18px/36px 'Hind-Semibold';
						color: #000;
						text-transform: uppercase;
					}
				}			
			}
		}
	}
}
/*-----------------------------------------customers-----------------------------------------*/
.customers {
	min-height: 400px;
	background: url('../img/customersBg.jpg') center center no-repeat;
	position: relative;
	.customers-wrapper {
		padding: 80px 0 0 0;
		position: relative;		
		min-height: 400px;
		text-align: center;
		z-index: 5;		
		.customers-content {
			display: inline-block;
			vertical-align: middle;
			width: 95%;
			z-index: 5;
			h2 {
				font: 36px/36px 'Hind-Semibold';
				text-transform: uppercase;
				padding-bottom: 15px;
				letter-spacing: 4px;
				color: #fff;
			}
			p {
				font: 22px/24px 'Hind-Regular';
				margin-bottom: 30px;
				color: #fff;
				max-width: 1050px;
				display: inline-block;
			}
			ul {
				li {
					padding: 10px 55px;
				}
			}
		}
	}
	.customers-wrapper::before {
		display: inline-block;
		content: "";
		height: 100%;
		vertical-align: middle;
	}
}
.customers::after {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(33, 33, 33, 0.6);
	z-index: 1;
}

/*-----------------------------------------summary-----------------------------------------*/
.summary {
	font: 16px/30px 'Hind-Regular';
	color: #b2b2b2;
	background: #212121;
	padding-top: 50px;
	.about, .tweets, .blog {
		h2 {
			font: 18px/36px 'Hind-Semibold';
			text-transform: uppercase;
			color: #fff;
			span {
				color: #b3e5fc;
			}
		}
	}
	.tweets {
		ul {
			li {
				margin-bottom: 20px;
				.colored {
					color: @mainBlue;
				}
				.time {
					color: #535353;
				}
			}
			li:nth-child(even) {
				.colored {
					color: @mainOrange;
				}
			}
		}
	}
	.blog {
		ul {
			li {
				margin-bottom: 20px;
				img {
					float: left;
					padding: 10px 10px 10px 0;
				}
				a, a:hover {
					font: 16px/30px 'Hind-Regular';
					color: @mainBlue;
					text-decoration: none;
					margin: 0 0 20px 0;
				}
				a:hover {
					color: @mainOrange;
				}
			}
			li::before {
				display: block;
				content: "";
				clear: both;
			}
		}
	}
}
/*-----------------------------------------map-----------------------------------------*/
.map {
	position: relative;
	padding: 0;
	.mapWrapper {		
		overflow: hidden;
	}
	.history {
		position: absolute;
		//width: 370px;
		min-height: 270px;
		background: rgba(255, 255, 255, 0.9);
		border-radius: 3px;
		top: 50px;
		left: 50px;
		padding: 40px;
		p {
			font: 18px/30px 'Hind-Semibold';
			text-transform: uppercase;
		}
		ul {
			li {
				margin-bottom: 14px;
				font: 16px/30px 'Hind-Regular';
				span {
					font: 16px/30px 'Hind-Semibold';
				}
			}
		}
	}

}

@media screen and (min-width: 768px) {
	@import "breakpoints/breakpoint768px.less";
}

@media screen and (min-width: 992px) {
	@import "breakpoints/breakpoint992px.less";
}

@media screen and (min-width: 1170px) {
	@import "breakpoints/breakpoint1170px.less";
}

@media screen and (min-width: 1600px) {
	@import "breakpoints/breakpoint1600px.less";
}


		
