/*.font-face(@fontname, @fontstyle, @path) {
  @font-face {
    font-family: '@{fontname}';
    font-weight: @fontstyle;
    font-style: @fontstyle;
    src:url('@{path}.eot');
    src:url('@{path}.eot?#iefix') format('embedded-opentype'),
        url('@{path}.woff') format('woff'),
        url('@{path}.ttf') format('truetype'),
        url('@{path}.svg#icon') format('svg');
  }
}*/

.font-face(@fontname, @fontstyle, @path) {
  @font-face {
    font-family: '@{fontname}';
    font-weight: @fontstyle;
    font-style: @fontstyle;
    src:url('@{path}.ttf') format('truetype');
  }
}

.font-face('Hind-Bold', normal, '../fonts/font_hind/Hind-Bold');
.font-face('Hind-Light', normal, '../fonts/font_hind/Hind-Light');
.font-face('Hind-Medium', normal, '../fonts/font_hind/Hind-Medium');
.font-face('Hind-Regular', normal, '../fonts/font_hind/Hind-Regular');
.font-face('Hind-Semibold', normal, '../fonts/font_hind/Hind-Semibold');

.font-face('Lora-Bold', normal, '../fonts/font_hind/Lora-Bold');
.font-face('Lora-BoldItalic', normal, '../fonts/font_hind/Lora-BoldItalic');
.font-face('Lora-Italic', normal, '../fonts/font_hind/Lora-Italic');
.font-face('Lora-Regular', normal, '../fonts/font_hind/Lora-Regular');

/*-------------------------------------------------------------start-------------------------------------------------------------*/
.start {
	position: relative;
	max-height: 800px;
	background: url('../img/startBg.jpg') left top/cover no-repeat;
	height: 100vh;
	.mask {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.8);
	}
	.header {
		.navbar {
			background: transparent;
			border: none;
			.navbar-header {
				.navbar-brand {
					background: url('../img/logoImg.png') left center no-repeat;
					padding: 0 0 0 42px;
					line-height: 50px;
				}
				.navbar-toggle {
					border: 1px solid #fff;
					.icon-bar {
						background-color: #fff;
					}
				}
			}
			.navbar-nav > li > a {
				color: #fff;
				text-transform: uppercase;
				font: 14px/24px 'Hind-Semibold';
			}
			.navbar-nav > .active > a {
				background: transparent;
				border-bottom: 2px solid #03a9f4;
			}
		}
	}
}