//breakpoint768px.less
/*---------------------------------------------start---------------------------------------------*/
.start {
	.header {
		.navbar {
			.navbar-header {
				text-align: center;
				display: block;
				float: none;
				.navbar-brand {
					float: none;
				}
			}
			.navbar-nav > li {
				background: transparent;
				.search {
					border-left: 1px solid #fff;
				}
			}
			.navbar-nav > li > a {
				padding: 0 8px;
			}
		}
	}
}